@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.zahlen {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

select, option {
    -webkit-appearance: none
}